<div class="pagination">
    <ul>
        <% for(let i=1; i<=paginationData.lastPage; i++){ %>
            <li>
                <a href="?page=<%=i%>" class="<% if (paginationData.currentPage === i) { %>active<% } %>">
                    <%=i%>
                </a>
            </li>
            <%} %>
    </ul>
</div>